.cart-body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}
.cart-body .card {
  flex-shrink: 0;
}
.cart-body .card .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body .card-text {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Eliminar {
  width: 2rem;
  height: 2rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  top: 1rem;
  left: 15rem;
  border-radius: 100%;
  border: black 0.1rem solid;
  z-index: 3;
}

.Eliminar:hover {
  background: black;
  color: white;
}

.offcanvas-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (width<=600px) {
  #carrito {
    width: 100vw;
  }
}
