#conteiner-form {
  width: calc(100% - 1rem);
  background: yellow;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Formulario {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: red;
}
#Formulario section {
  width: 80%;
  display: flex;
  min-height: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}
input {
  width: 100%;
  border-radius: 20px;
  padding-left: 1rem;
}
