#canvas {
  width: 100vw;
}
#conteiner-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}
#Formulario {
  width: clamp(320px, 25vw, 1080px);
  height: clamp(255px, 95%, 600px);
  border-radius: 20px;
  overflow: hidden;
  border: 1px gray solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(182, 180, 180);
}
#Formulario section {
  width: 80%;
  display: flex;
  min-height: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
input {
  width: 100%;
  border-radius: 20px;
  padding-left: 1rem;
}

input::placeholder {
  color: rgb(44, 44, 43);
  opacity: 0.5;
  font-size: 0.9rem;
}

#segurity {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin: 0 auto;
  padding: 0;
}
.nivel {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.canvasbody {
  background: linear-gradient(to bottom, #0b0f2a 0%, #090d1f 40%, #050814 100%);
}

.visible {
  position: relative;
}
.eyes {
  position: absolute;
  inset: 0;
  top: 60%;
  left: 90%;
}
