* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.demo-notice {
  width: 80%;
  font-size: 1rem;
  margin: 0 auto;
  padding: 15px;
  border: black 2px solid;
  border-radius: 20px;
}
.entendido {
  width: 50%;
  display: block;
  border: black 2px solid;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  background: red;
}
